.addfruit-container input {
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid #00796b;
}
.addfruit-container button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #00796b;
  color: white;
  cursor: pointer;
}
.addfruit-container button:hover {
  background-color: #004d40;
}
.addfruit-container ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}
.addfruit-container li {
  background-color: #e0f2f1;
  margin: 3px 0;
  padding: 5px 10px;
  border-radius: 5px;
}
